@model PagedList.IPagedList<WebPhoneStore.Models.About>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách about";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm("Index", "Abouts", FormMethod.Get))
{
    <fieldset>
        <table style="width:70%">
            <tr>
                <td width="10%">Từ khóa</td>
                <td width="30%">@Html.TextBox("tukhoa", ViewBag.CurrentString as string, new { @class = "form-control" })</td>
                
                <td width="20%">
                    <input type="submit" name="btnSearch" value="Search" class="btn btn-success" />
                </td>
            </tr>
        </table>
    </fieldset>
}
<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>
<div class="box-body">
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.SortName, tukhoa = ViewBag.CurrentString })
            </th>
            <th>
                @Html.ActionLink("MetaTitle", "Index", new { sortOrder = ViewBag.MetaTitle, tukhoa = ViewBag.CurrentString })
            </th>

            <th>
                Image
            </th>

            <th>
                @Html.ActionLink("CreateDate", "Index", new { sortOrder = ViewBag.CreateDate, tukhoa = ViewBag.CurrentString })
            </th>
            <th>
                @Html.ActionLink("CreateBy", "Index", new { sortOrder = ViewBag.CreateBy, tukhoa = ViewBag.CurrentString })
            </th>
            <th>
                @Html.ActionLink("ModifleDate", "Index", new { sortOrder = ViewBag.ModifleDate, tukhoa = ViewBag.CurrentString })
            </th>
            <th>
                @Html.ActionLink("ModifileBy", "Index", new { sortOrder = ViewBag.ModifileBy, tukhoa = ViewBag.CurrentString })
            </th>

            <th>
                Status
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetaTitle)
                </td>

                <td>
                    <img src="~/Content/Images/@item.Image" width="150" height="150" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifileDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifileBy)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.ID }, new { @class = "qh-icon fa fa-pencil bigger-130" }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }, new { @class = "qh-icon fa fa-eye bigger-130" })  |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.ID }, new { @class = "qh-icon fa fa-trash-o bigger-130" })
                </td>
            </tr>
        }

    </table>
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, CurrentString = ViewBag.CurrentString, sortOrder = ViewBag.CurrentSort }))
    </div>
    </div>
