@model WebPhoneStore.Models.User

@{
    ViewBag.Title = "Chi tiết User";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Chi tiết "@Model.Name"</h2>
<div class="modal-body">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AvatarName)
        </dt>

        <dd>
            <img src="~/Content/Images/@Model.AvatarName" style="width:200px;height:200px;" alt="@Model.AvatarName" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifileDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifileDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifileBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifileBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>

<div class="modal-footer">
    <div class="form-group">
        <div class="col-md-3">
            @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" })
            @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>