@model PagedList.IPagedList<WebPhoneStore.Models.CategoryProduct>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách loại sản phẩm ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm("Index", "ProductCategory", FormMethod.Get))
{
<fieldset>
    <table style="width:100%">
        <tr>
            <td width="30%">Từ khóa</td>
            <td>
                @Html.TextBox("searchName", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            </td>
            <td><input type="submit" name="btnSearch" value="Search" class="btn btn-success" /></td>
        </tr>
    </table>
</fieldset>
}
<p>
    @Html.ActionLink("Thêm mới", "Create",null,new { @class="btn btn-primary"})
</p>
<div class="box-body">
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSort, searchName = ViewBag.CurrentFilter })
            </th>
            <th>
                CreateDate
            </th>
            <th>
                CreateBy
            </th>


            <th>
                Status
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateBy)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.ID }, new { @class = "qh-icon fa fa-pencil bigger-130" }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }, new { @class = "qh-icon fa fa-eye bigger-130" })  |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.ID }, new { @class = "qh-icon fa fa-trash-o bigger-130" })
                </td>
            </tr>
        }

    </table>
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter, sortOrder = ViewBag.CurrentSort }))
    </div>
    </div>