@model PagedList.IPagedList<WebPhoneStore.Models.Contact>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách Contact";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm("Index", "Contact", FormMethod.Get))
{
<fieldset>
    <table style="width:100%">
        <tr>
            <td>Nội dung</td>
            <td>@Html.TextBox("content", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>
            <td>
                <input type="submit" name="btnSearch" value="Search" class="btn btn-success" />
            </td>
        </tr>
    </table>
</fieldset>
}
<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="box-body">
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                Content
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>                    
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }, new { @class = "qh-icon fa fa-eye bigger-130" })  |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.ID }, new { @class = "qh-icon fa fa-trash-o bigger-130" })
                </td>
            </tr>
        }

    </table>
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
    </div>
    </div>

